header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    top: 0;
}

nav {
    line-height: 3em;
    background-color: #eeeeee;
    text-align: center;

}

nav table{
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 2em 0em;
}


body {
    width: 85%;
    margin-right: auto;
    margin-left: auto;       
}

footer {
    position: fixed;
    background-color: black;
    color:white;
    clear:both;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;

}

footer table{
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5em 0em;
}

#codeblock{
  background-color: black;   
  border: 0px;
  text-align:left;
  padding-top:0;
  width:80%;
}

code{
  background-color: black;
  color: #66FF33
}