header {
    background-color:grey;
    color:black;
    text-align:center;
    padding:5px;     
}
nav {
    line-height:3px;
    background-color:#eeeeee;
    float:center;
    text-align:center;
    padding: 1px;
  
}
section {
    width:350px;
    float:center;
    padding:10px;        
}

/*footer {
    background-color:grey;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;         
}*/

#footerR{
float:right;
border-radius:1em;
background-color: #FFEB00;
padding:2em;
display:inline-block;
}

#footerM{
clear:both;
border-radius:1em;
background-color: #FFEB00;
padding:2em;
display:inline-block;
margin-right:-50%;
margin-left:45%;
}

#footerL{
float:left;
border-radius:1em;
background-color: #FFEB00;
padding:2em;
display:inline-block;
}